extends layout.pug

block content
  main(role='main')
    .container.content
      .card
        .card-body
          h1 Survey Respones
          pre There are #{JSON.stringify(results.count)} respones total.
          #accordionExample.accordion
            each survey, index in results.surveys
              .card-header
                h5.mb-0
                  button.btn.btn-link(type='button' data-toggle='collapse' data-target=`#survey${index+1}` aria-expanded='true' aria-controls='collapseOne')
                    | Survey ##{index+1}
              .collapse(id=`survey${index+1}` aria-labelledby='headingOne' data-parent='#accordionExample')
                .card-body
                  pre=survey.phone
                  each answer, index in survey.responses
                    pre=JSON.stringify(answer)